<div class="col-md-4 thumbnail text-center">
  <% if player.picture? %>
   <%= image_tag player.picture.url, class: "img-responsive img-portfolio img-hover" if player.picture? %>
  <% else %>
    <%= image_tag "no_photo_available.jpg" %>
  <% end %>
  <h4><%= player.name %></h4>
</div>
